# Default ignored files
/../../Assignment 4 /.idea/shelf/
/../../Assignment 4 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Assignment 4 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Assignment 4 /.idea/dataSources/
/../../Assignment 4 /.idea/dataSources.local.xml
